<html>
  <head>
    <title>OTP Verification</title>
  </head>
  <body>
    <h1>Hello there ,</h1>
    <p>Your OTP code is <strong>{{data.otp}}</strong>.</p>
    <p>Please don't share this code with anyone </p>
    <p>Regards,</p>
    <p>SafeMind Care Team</p>
  </body>
</html>